---
name: POC katalon
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Katalon Studio Github Action
        uses: katalon-studio/katalon-studio-github-action@v2
        with:
          version: '8.5.5'
          projectPath: '${{ github.workspace }}'
          args: '-browserType="IE" -retry=0 -statusDelay=15 -testSuitePath="Test Suites/POCcollection" -apiKey=${{ secrets.API_KEY }} --config -webui.autoUpdateDrivers=true'
